<nlog throwExceptions="true">
  <targets>
    <target type="Database" name="WebDatabase" connectionStringName="DefaultConnection">
      <commandText>
        insert into [Security].[SystemLog](DateTime,Level,Logger,Message,Exception) values(@time_stamp, @level, @logger, @message,@exception);
      </commandText>
      <parameter name="@time_stamp" layout="${date}"/>
      <parameter name="@level" layout="${level}"/>
      <parameter name="@logger" layout="${logger}"/>
      <parameter name="@message" layout="${message}"/>
      <parameter name="@exception" layout="${exception:format=tostring}"/>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Info" appendTo="WebDatabase"/>
  </rules>
</nlog>